[dependencies]
clap = {version = "4.4", features = ["derive"]}
daft-dashboard = {path = "../daft-dashboard"}
pyo3 = {workspace = true, optional = true}
tokio = {workspace = true}

[features]
python = ["dep:pyo3"]

[package]
name = "daft-cli"
edition.workspace = true
version.workspace = true
