[dependencies]
arrow2 = {workspace = true}
base64 = {workspace = true}
common-error = {path = "../common/error", default-features = false}
common-runtime = {path = "../common/runtime", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-dsl = {path = "../daft-dsl", default-features = false}
daft-hash = {workspace = true}
daft-io = {path = "../daft-io", default-features = false}
flate2 = {version = "1.1", features = ["zlib-rs"], default-features = false}
futures = {workspace = true}
num-traits = {workspace = true}
paste = "1.0.15"
pyo3 = {workspace = true, optional = true}
simdutf8 = "0.1.5"
tiktoken-rs = {workspace = true}
tokio = {workspace = true}
typetag = {workspace = true}
xxhash-rust = {workspace = true, features = ["xxh64"]}
bytes.workspace = true
serde.workspace = true
snafu.workspace = true
uuid.workspace = true

[features]
python = [
  "common-error/python",
  "daft-core/python",
  "daft-dsl/python",
  "daft-io/python",
  "dep:pyo3"
]

[lints]
workspace = true

[package]
name = "daft-functions"
edition.workspace = true
version.workspace = true
