[dependencies]
common-daft-config = {path = "../common/daft-config"}
common-error = {path = "../common/error"}
common-io-config = {path = "../common/io-config", default-features = false}
common-runtime = {workspace = true}
daft-algebra = {path = "../daft-algebra"}
daft-catalog = {path = "../daft-catalog"}
daft-core = {path = "../daft-core"}
daft-dsl = {path = "../daft-dsl"}
daft-functions = {path = "../daft-functions"}
daft-functions-json = {path = "../daft-functions-json"}
daft-logical-plan = {path = "../daft-logical-plan"}
daft-scan = {path = "../daft-scan"}
once_cell = {workspace = true}
pyo3 = {workspace = true, optional = true}
sqlparser = {workspace = true}
regex.workspace = true
snafu.workspace = true

[dev-dependencies]
rstest = {workspace = true}

[features]
python = [
  "dep:pyo3",
  "common-error/python",
  "daft-functions/python",
  "daft-functions-json/python",
  "daft-scan/python",
  "daft-catalog/python"
]

[lints]
workspace = true

[package]
name = "daft-sql"
edition.workspace = true
version.workspace = true
