[dependencies]
common-daft-config = {path = "../common/daft-config"}
common-error = {path = "../common/error"}
common-io-config = {path = "../common/io-config", default-features = false}
common-runtime = {workspace = true}
daft-catalog = {path = "../daft-catalog"}
daft-context = {path = "../daft-context"}
daft-core = {path = "../daft-core"}
daft-dsl = {path = "../daft-dsl"}
daft-functions = {path = "../daft-functions"}
daft-functions-list = {path = "../daft-functions-list"}
daft-functions-temporal = {path = "../daft-functions-temporal"}
daft-functions-utf8 = {path = "../daft-functions-utf8"}
daft-logical-plan = {path = "../daft-logical-plan"}
daft-micropartition = {path = "../daft-micropartition", default-features = false}
daft-recordbatch = {path = "../daft-recordbatch"}
daft-scan = {path = "../daft-scan"}
daft-session = {path = "../daft-session"}
itertools = {workspace = true}
pyo3 = {workspace = true, optional = true}
sqlparser = {workspace = true}
regex.workspace = true
snafu.workspace = true

[dev-dependencies]
rstest = {workspace = true}

[features]
python = [
  "dep:pyo3",
  "common-daft-config/python",
  "common-error/python",
  "common-io-config/python",
  "daft-catalog/python",
  "daft-context/python",
  "daft-core/python",
  "daft-dsl/python",
  "daft-functions/python",
  "daft-functions-list/python",
  "daft-functions-utf8/python",
  "daft-logical-plan/python",
  "daft-micropartition/python",
  "daft-recordbatch/python",
  "daft-scan/python",
  "daft-session/python"
]

[lints]
workspace = true

[package]
name = "daft-sql"
edition.workspace = true
version.workspace = true
