# Added by jetbrains IDE
.idea/

.coverage
.env
venv
.venv
dist
**/__pycache__/
requirements.txt
build
.cython_build
.hypothesis

**/.ipynb_checkpoints/

**/node_modules/**
data/**
*.so
*.whl
log/
*.egg-info

# Added by MacOS
**.DS_Store

# Added by cargo
/target
**/target/
# pytest benchmarks
.benchmarks

# docs autogen
/docs/source/api_docs/doc_gen/

# Added by pyenv
.python-version
