.vscode

.env
venv
.venv
dist
**/__pycache__/
requirements.txt
build
.cython_build

**/.ipynb_checkpoints/

**/node_modules/**
data/**
*.so
*.whl
log/
*.egg-info

**.DS_Store


# Added by cargo

/target
