# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    additional_dependencies: [types-requests, types-PyYAML, types-tabulate]
    files: daft

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: detect-private-key
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: kubernetes-ops
  - id: pretty-format-json
    args:
    - --autofix
    - --no-sort-keys
    - '--indent=  '
  - id: check-added-large-files
  - id: requirements-txt-fixer
  - id: check-merge-conflict
  - id: check-docstring-first
  - id: check-toml
  - id: debug-statements

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    name: isort (python)
    files: \.py$
    args: [--profile, black, --filter-files, -a, from __future__ import annotations]
  - id: isort
    name: isort (cython)
    files: \.pyx$
    args: [--profile, black, --filter-files]


- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus]

- repo: https://github.com/myint/autoflake
  rev: v2.0.0
  hooks:
  - id: autoflake
    args: [--in-place, --remove-all-unused-imports, --remove-unused-variable, --ignore-init-module-imports]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: fmt
  - id: cargo-check
  - id: clippy

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.10.1
  hooks:
  - id: validate-pyproject
