# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: "5cf22ccb774a8be8f47dfe4c1e8c4f177c608cbf"
  #   hooks:
  #     - id: mypy
  #       files: ^server

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: detect-private-key
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
      exclude: kubernetes-ops
    - id: pretty-format-json
      args:
          - "--autofix"
          - "--no-sort-keys"
          - "--indent=  "
    - id: check-added-large-files
    - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: "22.6.0"
    hooks:
    -   id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/myint/autoflake
    rev: "v1.4"
    hooks:
      - id: autoflake
        files: .
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
            "--ignore-init-module-imports",
          ]
  # - repo: https://github.com/stackrox/kube-linter
  #   rev: "v0.4.0"
  #   hooks:
  #     - id: kube-linter
  #       exclude: kubernetes-ops/sandboxes
  #       args:
  #         [
  #           lint
  #         ]
