# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    additional_dependencies: [types-requests, types-PyYAML, types-tabulate]
    files: daft
    exclude: daft/pickle/.*\.py

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: detect-private-key
  - id: trailing-whitespace
    exclude: docs/source/api_docs/
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
          docs/source/api_docs/|
          docs/source/user_guide/fotw/data/
      )$
  - id: check-yaml
    exclude: kubernetes-ops
  - id: pretty-format-json
    exclude: |
      (?x)^(
          tutorials/.*\.ipynb|
          docs/.*\.ipynb|
          docs/source/user_guide/fotw/data/
      )$
    args:
    - --autofix
    - --no-sort-keys
    - '--indent=  '
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-docstring-first
  - id: check-toml

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.6.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
    exclude: Cargo.lock
  - id: pretty-format-yaml
    args: [--autofix]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

- repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
  rev: v0.3.7
  hooks:
      # Run the linter.
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
          # Run the formatter.
  - id: ruff-format

- repo: local
  hooks:
  - id: fmt
    name: fmt
    description: Format files with cargo fmt.
    entry: cargo fmt
    language: system
    types: [rust]
    args: [--]

  - id: cargo-check-default
    name: cargo check (default)
    description: Check the package for errors with default features.
    entry: cargo check
    language: system
    types: [rust]
    pass_filenames: false
    args: [--workspace]

  - id: cargo-check-all-features
    name: cargo check (all features)
    description: Check the package for errors.
    entry: cargo check
    language: system
    types: [rust]
    pass_filenames: false
    args: [--workspace, --all-features]

  - id: clippy
    name: clippy
    description: Lint rust sources
    entry: cargo clippy
    language: system
    args: [--workspace, --all-features, --, -D, warnings]
    types: [rust]
    pass_filenames: false

  - id: check-for-rustls
    name: check-for-rustls
    description: Lint rust sources
    entry: ./tools/check_for_rustls.sh
    language: system
    types: [rust]
    pass_filenames: false

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.10.1
  hooks:
  - id: validate-pyproject
