[dependencies]
base64 = "0.21.2"
chrono = "0.4.26"
chrono-tz = "0.8.2"
anyhow = "1.0.71"
async-trait = "0.1.68"
aws-config = "0.55.3"
aws-sdk-s3 = "0.28.0"
bytes = "1.4.0"
dyn-clone = "1.0.11"
fnv = "1.0.7"
futures = "0.3.28"
html-escape = "0.2.13"
ini = "1.3.0"
ndarray = "0.15.6"
num-derive = "0.3.3"
prettytable-rs = "^0.10"
pyo3-log = "0.8.2"
rand = "^0.8"
serde_json = "1.0.96"
tokio = {version = "1.28.2", features = ["net", "time", "bytes", "process", "signal", "macros"]}
tracing-subscriber = "0.3.17"
url = "2.4.0"

[dependencies.arrow2]
branch = "clark/expand-casting-support"
features = ["chrono-tz", "compute_take", "compute_cast", "compute_aggregate", "compute_if_then_else", "compute_sort", "compute_filter", "compute_temporal", "compute_comparison", "compute_arithmetics", "compute_concatenate", "io_ipc"]
git = "https://github.com/Eventual-Inc/arrow2"
package = "arrow2"
version = "0.17.1"

[dependencies.bincode]
version = "1.3.3"

[dependencies.image]
default-features = false
features = ["gif", "jpeg", "ico", "png", "tiff", "webp", "bmp", "hdr"]
version = "0.24.6"

[dependencies.indexmap]
features = ["serde"]
version = "1.9.2"

[dependencies.lazy_static]
version = "1.4.0"

[dependencies.log]
features = ["std"]
version = "0.4.19"

[dependencies.num-traits]
version = "0.2"

[dependencies.numpy]
optional = true
version = "0.18"

[dependencies.pyo3]
features = ["extension-module", "abi3-py37"]
optional = true
version = "0.18.3"

[dependencies.reqwest]
features = ["stream"]
version = "0.11.18"

[dependencies.serde]
features = ["derive", "rc"]
version = "1.0.164"

[dependencies.xxhash-rust]
features = ["xxh3", "const_xxh3"]
version = "0.8.5"

[features]
default = ["python"]
python = ["dep:pyo3", "dep:numpy"]

[lib]
crate-type = ["cdylib"]
name = "daft"

[net]
git-fetch-with-cli = true

[package]
edition = "2021"
name = "daft"
version = "0.1.6"

[profile.dev]
overflow-checks = false

[profile.dev-bench]
codegen-units = 16
debug = 1  # include symbols
inherits = "release"
lto = 'thin'
strip = "none"  # dont strip

[profile.release-lto]
codegen-units = 1
inherits = "release"
lto = 'fat'
