[dependencies]
common-daft-config = {path = "src/common/daft-config", default-features = false}
common-system-info = {path = "src/common/system-info", default-features = false}
daft-compression = {path = "src/daft-compression", default-features = false}
daft-core = {path = "src/daft-core", default-features = false}
daft-csv = {path = "src/daft-csv", default-features = false}
daft-dsl = {path = "src/daft-dsl", default-features = false}
daft-io = {path = "src/daft-io", default-features = false}
daft-json = {path = "src/daft-json", default-features = false}
daft-micropartition = {path = "src/daft-micropartition", default-features = false}
daft-parquet = {path = "src/daft-parquet", default-features = false}
daft-plan = {path = "src/daft-plan", default-features = false}
daft-scan = {path = "src/daft-scan", default-features = false}
daft-stats = {path = "src/daft-stats", default-features = false}
daft-table = {path = "src/daft-table", default-features = false}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}

[features]
default = ["python"]
python = [
  "dep:pyo3",
  "dep:pyo3-log",
  "daft-core/python",
  "daft-table/python",
  "daft-dsl/python",
  "daft-io/python",
  "daft-plan/python",
  "daft-parquet/python",
  "daft-csv/python",
  "daft-json/python",
  "daft-micropartition/python",
  "daft-scan/python",
  "daft-stats/python",
  "common-daft-config/python",
  "common-system-info/python"
]

[lib]
crate-type = ["cdylib"]
name = "daft"

[package]
edition = "2021"
name = "daft"
publish = false
version = "0.2.0-dev0"

[patch.crates-io]
arrow2 = {git = "https://github.com/Eventual-Inc/arrow2", rev = "c0764b00cc05126c80c7ce17ebd7a95d87f815c1"}
parquet2 = {git = "https://github.com/Eventual-Inc/parquet2", rev = "d4c24086c4cc824fbabef093ab2fda95d3aacb78"}

[profile.dev]
overflow-checks = false

[profile.dev-bench]
codegen-units = 16
debug = 1  # include symbols
inherits = "release"
lto = 'thin'
strip = "none"  # dont strip

[profile.release-lto]
codegen-units = 1
inherits = "release"
lto = 'fat'

[profile.rust-analyzer]
inherits = "dev"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
libc = {version = "^0.2.150", default-features = false}
tikv-jemallocator = {version = "0.5.4", features = ["disable_initial_exec_tls"]}

[workspace]
members = [
  "src/common/error",
  "src/common/io-config",
  "src/common/treenode",
  "src/common/daft-config",
  "src/common/system-info",
  "src/daft-core",
  "src/daft-io",
  "src/daft-parquet",
  "src/daft-csv",
  "src/daft-json",
  "src/daft-dsl",
  "src/daft-table",
  "src/daft-plan",
  "src/daft-micropartition",
  "src/daft-scan",
  "src/daft-sketch"
]

[workspace.dependencies]
async-compat = "0.2.3"
async-compression = {version = "0.4.7", features = ["tokio", "all-algorithms"]}
async-stream = "0.3.5"
bytes = "1.4.0"
chrono = "0.4.37"
chrono-tz = "0.8.4"
comfy-table = "7.1.0"
futures = "0.3.28"
html-escape = "0.2.13"
indexmap = "2.1.0"
itertools = "0.11"
jaq-core = "1.2.0"
jaq-interpret = "1.2.0"
jaq-parse = "1.0.0"
jaq-std = "1.2.0"
num-derive = "0.3.3"
num-traits = "0.2"
rand = "^0.8"
rayon = "1.7.0"
regex = "1.10.3"
rstest = "0.18.2"
serde_json = "1.0.108"
snafu = {version = "0.7.4", features = ["futures"]}
tokio = {version = "1.37.0", features = ["net", "time", "bytes", "process", "signal", "macros", "rt", "rt-multi-thread"]}
tokio-stream = {version = "0.1.14", features = ["fs"]}
tokio-util = "0.7.8"
url = "2.4.0"

[workspace.dependencies.arrow2]
# branch = "daft-fork"
git = "https://github.com/Eventual-Inc/arrow2"
package = "arrow2"
rev = "c0764b00cc05126c80c7ce17ebd7a95d87f815c1"

[workspace.dependencies.bincode]
version = "1.3.3"

[workspace.dependencies.lazy_static]
version = "1.4.0"

[workspace.dependencies.log]
features = ["std"]
version = "0.4.19"

[workspace.dependencies.parquet2]
# branch = "sammy/owned-page-stream"
features = ['async']
git = "https://github.com/Eventual-Inc/parquet2"
package = "parquet2"
rev = "d4c24086c4cc824fbabef093ab2fda95d3aacb78"

[workspace.dependencies.pyo3]
features = ["extension-module", "multiple-pymethods", "abi3-py37"]
version = "0.19.2"

[workspace.dependencies.pyo3-log]
version = "0.8.3"

[workspace.dependencies.serde]
features = ["derive", "rc"]
version = "1.0.190"

[workspace.package]
edition = "2021"
version = "0.2.0-dev0"
