[dependencies]
dyn-clone = "1.0.11"
fnv = "1.0.7"
prettytable-rs = "^0.10"
pyo3-log = "0.8.1"
rand = "^0.8"

[dependencies.arrow2]
branch = "clark/expand-casting-support"
features = ["compute", "io_ipc"]
git = "https://github.com/Eventual-Inc/arrow2"
package = "arrow2"
version = "0.17.1"

[dependencies.bincode]
version = "1.3.3"

[dependencies.indexmap]
features = ["serde"]
version = "1.9.2"

[dependencies.lazy_static]
version = "1.4.0"

[dependencies.log]
features = ["std"]
version = "0.4.17"

[dependencies.num-traits]
version = "0.2"

[dependencies.numpy]
optional = true
version = "0.18"

[dependencies.pyo3]
features = ["extension-module", "abi3-py37"]
optional = true
version = "0.18.3"

[dependencies.serde]
features = ["derive", "rc"]
version = "1.0.163"

[dependencies.xxhash-rust]
features = ["xxh3", "const_xxh3"]
version = "0.8.5"

[features]
default = ["python"]
python = ["dep:pyo3", "dep:numpy"]

[lib]
crate-type = ["cdylib"]
name = "daft"

[net]
git-fetch-with-cli = true

[package]
edition = "2021"
name = "daft"
version = "0.1.1"

[profile.dev]
overflow-checks = false

[profile.dev-bench]
codegen-units = 16
debug = 1  # include symbols
inherits = "release"
lto = 'thin'
strip = "none"  # dont strip

[profile.release-lto]
codegen-units = 1
inherits = "release"
lto = 'fat'
