[dependencies]
daft-core = {path = "src/daft-core", default-features = false}
daft-csv = {path = "src/daft-csv", default-features = false}
daft-dsl = {path = "src/daft-dsl", default-features = false}
daft-io = {path = "src/daft-io", default-features = false}
daft-micropartition = {path = "src/daft-micropartition", default-features = false}
daft-parquet = {path = "src/daft-parquet", default-features = false}
daft-plan = {path = "src/daft-plan", default-features = false}
daft-table = {path = "src/daft-table", default-features = false}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}

[features]
default = ["python"]
python = [
  "dep:pyo3",
  "dep:pyo3-log",
  "daft-core/python",
  "daft-table/python",
  "daft-dsl/python",
  "daft-io/python",
  "daft-plan/python",
  "daft-parquet/python",
  "daft-csv/python",
  "daft-micropartition/python"
]

[lib]
crate-type = ["cdylib"]
name = "daft"

[package]
edition = "2021"
name = "daft"
publish = false
version = "0.1.10"

[patch.crates-io]
parquet2 = {git = "https://github.com/Eventual-Inc/parquet2", rev = "d4c24086c4cc824fbabef093ab2fda95d3aacb78"}

[profile.dev]
overflow-checks = false

[profile.dev-bench]
codegen-units = 16
debug = 1  # include symbols
inherits = "release"
lto = 'thin'
strip = "none"  # dont strip

[profile.release-lto]
codegen-units = 1
inherits = "release"
lto = 'fat'

[profile.rust-analyzer]
inherits = "dev"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
libc = {version = "^0.2.8", default-features = false}
tikv-jemallocator = {version = "0.5.4", features = ["disable_initial_exec_tls"]}

[workspace]
members = [
  "src/common/error",
  "src/common/io-config",
  "src/daft-core",
  "src/daft-io",
  "src/daft-parquet",
  "src/daft-csv",
  "src/daft-dsl",
  "src/daft-table",
  "src/daft-plan",
  "src/daft-micropartition"
]

[workspace.dependencies]
async-compat = "0.2.1"
async-compression = {version = "0.4.4", features = ["tokio", "all-algorithms"]}
async-stream = "0.3.5"
bytes = "1.4.0"
futures = "0.3.28"
html-escape = "0.2.13"
indexmap = "2.0.0"
itertools = "0.11"
num-derive = "0.3.3"
num-traits = "0.2"
prettytable-rs = "0.10"
rand = "^0.8"
rayon = "1.7.0"
serde_json = "1.0.104"
snafu = "0.7.4"
tokio = {version = "1.32.0", features = ["net", "time", "bytes", "process", "signal", "macros", "rt", "rt-multi-thread"]}
tokio-stream = {version = "0.1.14", features = ["fs"]}
tokio-util = "0.7.8"
url = "2.4.0"

[workspace.dependencies.arrow2]
git = "https://github.com/Eventual-Inc/arrow2"
package = "arrow2"
rev = "0a6f79e0da7e32cc30381f4cc8cf5a8483909f78"

[workspace.dependencies.bincode]
version = "1.3.3"

[workspace.dependencies.lazy_static]
version = "1.4.0"

[workspace.dependencies.log]
features = ["std"]
version = "0.4.19"

[workspace.dependencies.parquet2]
# branch = "sammy/owned-page-stream"
features = ['async']
git = "https://github.com/Eventual-Inc/parquet2"
package = "parquet2"
rev = "d4c24086c4cc824fbabef093ab2fda95d3aacb78"

[workspace.dependencies.pyo3]
features = ["extension-module", "multiple-pymethods", "abi3-py37"]
version = "0.19.2"

[workspace.dependencies.pyo3-log]
version = "0.8.3"

[workspace.dependencies.serde]
features = ["derive", "rc"]
version = "1.0.179"

[workspace.package]
edition = "2021"
version = "0.1.10"
