[dependencies]
common-daft-config = {path = "src/common/daft-config", default-features = false}
common-system-info = {path = "src/common/system-info", default-features = false}
common-tracing = {path = "src/common/tracing", default-features = false}
daft-compression = {path = "src/daft-compression", default-features = false}
daft-core = {path = "src/daft-core", default-features = false}
daft-csv = {path = "src/daft-csv", default-features = false}
daft-dsl = {path = "src/daft-dsl", default-features = false}
daft-execution = {path = "src/daft-execution", default-features = false}
daft-functions = {path = "src/daft-functions", default-features = false}
daft-io = {path = "src/daft-io", default-features = false}
daft-json = {path = "src/daft-json", default-features = false}
daft-local-execution = {path = "src/daft-local-execution", default-features = false}
daft-micropartition = {path = "src/daft-micropartition", default-features = false}
daft-minhash = {path = "src/daft-minhash", default-features = false}
daft-parquet = {path = "src/daft-parquet", default-features = false}
daft-plan = {path = "src/daft-plan", default-features = false}
daft-scan = {path = "src/daft-scan", default-features = false}
daft-scheduler = {path = "src/daft-scheduler", default-features = false}
daft-stats = {path = "src/daft-stats", default-features = false}
daft-table = {path = "src/daft-table", default-features = false}
lazy_static = {workspace = true}
log = {workspace = true}
lzma-sys = {version = "*", features = ["static"]}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}
sysinfo = {workspace = true}

[features]
# maturin will turn this on
python = [
  "dep:pyo3",
  "dep:pyo3-log",
  "daft-core/python",
  "daft-csv/python",
  "daft-dsl/python",
  "daft-execution/python",
  "daft-local-execution/python",
  "daft-io/python",
  "daft-json/python",
  "daft-micropartition/python",
  "daft-parquet/python",
  "daft-plan/python",
  "daft-scan/python",
  "daft-scheduler/python",
  "daft-stats/python",
  "daft-table/python",
  "daft-functions/python",
  "common-daft-config/python",
  "common-system-info/python"
]

[lib]
crate-type = ["cdylib"]
name = "daft"

[package]
edition = "2021"
name = "daft"
publish = false
version = "0.2.0-dev0"

[package.metadata.cargo-machete]
ignored = ["lzma_sys"]

[patch.crates-io]
arrow2 = {path = "src/arrow2"}
parquet2 = {path = "src/parquet2"}

[profile.bench]
debug = true

[profile.dev]
overflow-checks = false

[profile.dev-bench]
codegen-units = 16
debug = 1  # include symbols
inherits = "release"
lto = 'thin'
strip = "none"  # dont strip

[profile.release-lto]
codegen-units = 1
inherits = "release"
lto = 'fat'

[profile.rust-analyzer]
inherits = "dev"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
libc = {version = "^0.2.150", default-features = false}
tikv-jemallocator = {version = "0.5.4", features = [
  "disable_initial_exec_tls"
]}

[workspace]
members = [
  "src/arrow2",
  "src/parquet2",
  "src/common/error",
  "src/common/io-config",
  "src/common/treenode",
  "src/common/daft-config",
  "src/common/system-info",
  "src/daft-core",
  "src/daft-execution",
  "src/daft-local-execution",
  "src/daft-io",
  "src/daft-parquet",
  "src/daft-csv",
  "src/daft-json",
  "src/daft-dsl",
  "src/daft-table",
  "src/daft-plan",
  "src/daft-physical-plan",
  "src/daft-micropartition",
  "src/daft-scan",
  "src/daft-scheduler",
  "src/daft-sketch",
  "src/daft-functions"
]

[workspace.dependencies]
async-compat = "0.2.3"
async-compression = {version = "0.4.10", features = [
  "tokio",
  "all-algorithms"
]}
async-stream = "0.3.5"
async-trait = "0.1.79"
bytes = "1.6.0"
chrono = "0.4.38"
chrono-tz = "0.8.4"
comfy-table = "7.1.1"
dyn-clone = "1"
futures = "0.3.30"
html-escape = "0.2.13"
indexmap = "2.1.0"
itertools = "0.11"
jaq-core = "1.2.0"
jaq-interpret = "1.2.0"
jaq-parse = "1.0.0"
jaq-std = "1.2.0"
num-derive = "0.3.3"
num-traits = "0.2"
rand = "^0.8"
rayon = "1.10.0"
regex = "1.10.4"
rstest = "0.18.2"
serde_json = "1.0.116"
sketches-ddsketch = {version = "0.2.2", features = ["use_serde"]}
snafu = {version = "0.7.4", features = ["futures"]}
sysinfo = "0.30.12"
tokio = {version = "1.37.0", features = [
  "net",
  "time",
  "bytes",
  "process",
  "signal",
  "macros",
  "rt",
  "rt-multi-thread"
]}
tokio-stream = {version = "0.1.14", features = ["fs", "io-util", "time"]}
tokio-util = "0.7.11"
tracing = "0.1"
url = "2.4.0"

[workspace.dependencies.arrow2]
path = "src/arrow2"

[workspace.dependencies.bincode]
version = "1.3.3"

[workspace.dependencies.lazy_static]
version = "1.4.0"

[workspace.dependencies.log]
features = ["std"]
version = "0.4.19"

[workspace.dependencies.parquet2]
# branch = "sammy/owned-page-stream"
features = ['async']
path = "src/parquet2"

[workspace.dependencies.pyo3]
features = ["extension-module", "multiple-pymethods", "abi3-py38"]
version = "0.19.2"

[workspace.dependencies.pyo3-log]
version = "0.8.3"

[workspace.dependencies.serde]
features = ["derive", "rc"]
version = "1.0.200"

[workspace.package]
edition = "2021"
version = "0.2.0-dev0"
