[build-system]
build-backend = "maturin"
requires = ["maturin>=1.5.0,<2.0.0"]

[project]
authors = [{name = "Eventual Inc", email = "daft@eventualcomputing.com"}]
dependencies = [
  "pyarrow >= 7.0.0",
  "fsspec",
  "tqdm",
  "typing-extensions >= 4.0.0; python_version < '3.10'"
]
description = "Distributed Dataframes for Multimodal Data"
dynamic = ["version"]
license = {file = "LICENSE"}
maintainers = [
  {name = "Sammy Sidhu", email = "sammy@eventualcomputing.com"},
  {name = "Jay Chia", email = "jay@eventualcomputing.com"}
]
name = "getdaft"
readme = "README.rst"
requires-python = ">=3.8"

[project.optional-dependencies]
all = ["getdaft[aws, azure, gcp, ray, pandas, numpy, iceberg, deltalake, sql, unity]"]
aws = ["boto3"]
azure = []
deltalake = ["deltalake"]
gcp = []
hudi = ["pyarrow >= 8.0.0"]
iceberg = ["pyiceberg >= 0.4.0", "packaging"]
lance = ["lancedb"]
numpy = ["numpy"]
pandas = ["pandas"]
ray = [
  # Inherit existing Ray version. Get the "default" extra for the Ray dashboard.
  'ray[data, client]>=2.0.0 ; platform_system != "Windows"',
  'ray[data, client]>=2.10.0 ; platform_system == "Windows"',  # ray 2.10 has the pyarrow upper pin removed
  # Explicitly install packaging. See issue: https://github.com/ray-project/ray/issues/34806
  "packaging"
]
sql = ["connectorx", "sqlalchemy", "sqlglot"]
unity = ["unitycatalog"]
viz = []

[project.urls]
homepage = "https://www.getdaft.io"
repository = "https://github.com/Eventual-Inc/Daft"

[tool]

[tool.codespell]
check-filenames = true
check-hidden = true
ignore-words-list = "crate,arithmetics,ser"
# Feel free to un-skip examples, and experimental, you will just need to
# work through many typos (--write-changes and --interactive will help)
skip = "tests/series/*,target,.git,.venv,venv,data,*.csv,*.csv.*,*.html,*.json,*.jsonl,*.pdf,*.txt,*.ipynb,*.tiktoken"

[tool.maturin]
# "python" tells pyo3 we want to build an extension module (skips linking against libpython.so)
features = ["python"]

[tool.mypy]
exclude = ['daft/pickle/*.py$']
files = ["daft/**/*.py", "daft/**/*.pyx", "tests/**/*.py"]
python_version = "3.8"
warn_return_any = true
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "pyarrow.*",
  "fsspec.*",
  "icebridge.*",
  "cloudpickle.*",
  "docker.*",
  "uvicorn.*",
  "numba.*"
]

[[tool.mypy.overrides]]
enable_error_code = ["attr-defined"]
module = 'daft.*'
warn_return_any = false

[tool.pyright]
typeCheckingMode = "off"
venv = ".venv"
venvPath = "."

[tool.pytest.ini_options]
addopts = "--benchmark-skip -m 'not hypothesis' -m 'not integration'"
minversion = "6.0"
testpaths = [
  "tests"
]
