[tool.poetry]
name = "daft"
version = "0.1.0"
description = "Eventual daft"
authors = ["Eventual Inc <founders@eventualcomputing.com>"]
license = "Copyright Eventual Inc 2022"
build = "build.py"


[build-system]
requires = ["poetry-core>=1.0.0", "setuptools", "numpy>=1.22.3", "pyarrow==8.0", "Cython>=0.29.32"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
build_inplace = 'build:build_inplace'

[tool.poetry.dependencies]
python = "^3.8"
ray = "1.13.0"
numpy = "^1.22.3"
pyarrow = "^8.0.0"
Pillow = "^9.1.0"
pydantic = {extras = ["dotenv"], version = "^1.9.1"}
boto3 = "^1.23.0"
fsspec = "*"
# Ray-protobuf generation issue requires pinning at 3.19:
# https://github.com/ray-project/ray/issues/25282
protobuf = "~3.19.0"
icebridge = "0.0.3"
pydot = "^1.4.2"
fastapi = "^0.79.0"
docker = "^5.0.3"
uvicorn = "^0.18.2"
cloudpickle = "^2.1.0"
loguru = "^0.6.0"
PyYAML = "^6.0"
tabulate = "^0.8.10"
viztracer = "^0.15.4"
sentry-sdk = "^1.9.5"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
mypy = "^0.950"
boto3-stubs = "^1.23.0"
types-Pillow = "^9.0.15"
black = "^22.3.0"
isort = "^5.10.1"
autoflake = "^1.4"
jupyter = "^1.0.0"
jupyterlab = "^3.4.2"
jupyterhub = "1.5.0"
jupyterlab-git = "^0.37.1"
ipdb = "^0.13.9"
pre-commit = "^2.20.0"
types-requests = "^2.28.4"
types-PyYAML = "^6.0.11"
pandas = "^1.4.3"
xxhash = "^3.0.0"
transformers = "^4.21.2"
diffusers = "^0.2.4"
spacy = "^3.4.1"


[tool.mypy]
python_version = "3.8"
# WE NEED TO ENABLE THIS FOR eventual-hub
files = ["daft/**/*.py", "daft/**/*.pyx", "tests/**/*.py"]
warn_return_any = true
warn_unused_configs = true


[[tool.mypy.overrides]]
module = [
    "pyarrow.*",
    "fsspec.*",
    "icebridge.*",
    "cloudpickle.*",
    "docker.*",
    "uvicorn.*",
    "numba.*"
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
# WE ARE IGNORING THIS MODULES UNTIL WE CAN FIX THEM
module = [
    "daft.dataclasses"
]
ignore_errors = true



[tool.black]
line-length = 120
target-version = ['py38']

[tool.isort]
profile = "black"

[tool.cibuildwheel]
build=["cp38-*", "cp39-*", "cp310-*"]
skip="*-musllinux*"
before-build = "pip install pyarrow==8.0" # have to install this for repair the wheel correctly
[tool.cibuildwheel.linux]
repair-wheel-command = "LD_LIBRARY_PATH=$(python -c 'import pyarrow; print(pyarrow.get_library_dirs()[0])'):$LD_LIBRARY_PATH auditwheel repair -w {dest_dir} {wheel}"
[tool.cibuildwheel.macos]
archs = ["arm64"]
repair-wheel-command = [
  "mkdir dir_to_dyl",
  "ln -s $(python -c 'import pyarrow; print(pyarrow.get_library_dirs()[0])')/*.dylib dir_to_dyl",
  "DYLD_LIBRARY_PATH=./dir_to_dyl:$DYLD_LIBRARY_PATH delocate-listdeps {wheel}",
  "DYLD_LIBRARY_PATH=./dir_to_dyl:$DYLD_LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}",
  "rm -rf dir_to_dyl",
]
