[build-system]
build-backend = "maturin"
requires = ["maturin>=0.14,<0.15"]

[project]
authors = [{name = "Eventual Inc", email = "daft@eventualcomputing.com"}]
dependencies = [
  "numpy < 1.24",
  "pyarrow",
  "fsspec[http]",
  "protobuf>=3.19.0",
  "pydot",
  "loguru",
  "tabulate",
  "pandas",
  "psutil",
  "typing-extensions >= 4.0.0; python_version < '3.8'",
  "pickle5 >= 0.0.12; python_version < '3.8'",
  # Breaking change in list aggregations in 0.16.1: https://github.com/pola-rs/polars/issues/6584
  "polars[timezone] < 0.16.0"
]
description = "A Distributed DataFrame library for large scale complex data processing."
dynamic = ["version"]
license = {file = "LICENSE"}
maintainers = [
  {name = "Sammy Sidhu", email = "sammy@eventualcomputing.com"},
  {name = "Jay Chia", email = "jay@eventualcomputing.com"}
]
name = "getdaft"
readme = "README.rst"
requires-python = ">=3.7"

[project.optional-dependencies]
all = ["daft[aws, ray]"]
aws = ["s3fs"]
experimental = ["daft[serving, iceberg]"]
iceberg = ["icebridge"]
ray = ["ray[data, default]>=1.10.0"]  # Inherit existing Ray version. Get the "default" extra for the Ray dashboard.
serving = ["fastapi", "docker", "uvicorn", "cloudpickle", "boto3", "PyYAML"]

[project.urls]
homepage = "https://getdaft.io"
repository = "https://github.com/Eventual-Inc/Daft"

[tool]

[tool.black]
line-length = 120
target-version = ['py38']

[tool.isort]
profile = "black"

[tool.mypy]
files = ["daft/**/*.py", "daft/**/*.pyx", "tests/**/*.py"]
python_version = "3.8"
warn_return_any = true
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "pyarrow.*",
  "fsspec.*",
  "icebridge.*",
  "cloudpickle.*",
  "docker.*",
  "uvicorn.*",
  "numba.*"
]

[[tool.mypy.overrides]]
enable-error-code = ["attr-defined"]
module = 'daft.*'
warn_return_any = false

[tool.pytest.ini_options]
addopts = "--benchmark-skip -m 'not hypothesis'"
minversion = "6.0"
testpaths = [
  "tests"
]
