[build-system]
requires = ["maturin>=0.14,<0.15"]
build-backend = "maturin"

[project]
name = "getdaft"
version = "0.0.19" # needed for poetry but ignored
description = "A Distributed DataFrame library for large scale complex data processing."
authors = [{name="Eventual Inc", email="daft@eventualcomputing.com"}]
maintainers = [
    {name="Sammy Sidhu", email="sammy@eventualcomputing.com"},
    {name="Jay Chia", email="jay@eventualcomputing.com"},
]
readme = "README.rst"
license = {file="LICENSE"}
requires-python = ">=3.7.1"
dependencies = [
    "ray>=1.10.0",
    "numpy",
    "pyarrow",
    "fsspec",
    "protobuf>=3.19.0",
    "pydot",
    "loguru",
    "tabulate",
    "pandas",
    "psutil",
    "typing-extensions >= 4.0.0; python_version < '3.8'",
    "pickle5 >= 0.0.12; python_version < '3.8'",
    "polars[timezone]",
]

[project.optional-dependencies]
aws = ["boto3", "s3fs"]
serving = ["fastapi", "docker", "uvicorn", "cloudpickle", "boto3", "PyYAML"]
iceberg = ["icebridge"]
experimental = ["daft[serving, iceberg]"]
ray = ["ray[default]"] # Inherit existing Ray version. Get the "default" extra for the Ray dashboard.
all = ["daft[aws, ray]"]

[project.urls]
homepage = "https://getdaft.io"
repository = "https://github.com/Eventual-Inc/Daft"

[tool]

[tool.black]
line-length = 120
target-version = ['py38']

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.8"
files = ["daft/**/*.py", "daft/**/*.pyx", "tests/**/*.py"]
warn_return_any = true
warn_unused_configs = true

[[tool.mypy.overrides]]
module = [
    "pyarrow.*",
    "fsspec.*",
    "icebridge.*",
    "cloudpickle.*",
    "docker.*",
    "uvicorn.*",
    "numba.*"
]
ignore_missing_imports = true
