# Development/Build utilities
ipdb
maturin
pre-commit

# Tracing
orjson  # orjson recommended for viztracer
py-spy
viztracer

# Testing frameworks
hypothesis
pytest>=7.1.2
pytest-benchmark
pytest-cov

# Testing dependencies
dask
lxml
numpy
pandas
xxhash>=3.0.0

# Ray
grpcio<1.52.0  # Pin due to Ray issue: https://github.com/ray-project/ray/issues/32246
ray[data, default]

# Documentation
myst-nb>=0.16.0
Sphinx <= 5
sphinx-book-theme>=0.3.3,<1.0.0
sphinx-reredirects>=0.1.1
