boto3
cloudpickle
dask
docker
fastapi

# Pin due to Ray issue: https://github.com/ray-project/ray/issues/32246
grpcio<1.52.0

hypothesis
icebridge
ipdb
lxml
maturin
myst-nb>=0.16.0
numpy < 1.24

# orjson recommended for viztracer
orjson

pandas
pre-commit
py-spy
pyarrow
pytest>=7.1.2
pytest-benchmark
pytest-cov
PyYAML
ray[data, default]
s3fs
Sphinx <= 5
sphinx-book-theme>=0.3.3,<1.0.0
sphinx-reredirects>=0.1.1
uvicorn
viztracer
xxhash>=3.0.0
