markdown-exec
mkdocs-material
mkdocs-macros-plugin
mkdocs-simple-hooks
pymdown-extensions
mkdocs-material[imaging]
mkdocstrings-python
ruff
mkdocs-minify-plugin
mkdocs-redirects
yamllint
yamlfix
mkdocs-gen-files
griffe
mkdocs-literate-nav
Jinja2
./docs/plugins/
