[dependencies]
comfy-table = {workspace = true}
indexmap = {workspace = true}
pyo3 = {workspace = true, optional = true}
terminal_size = {version = "0.4.3"}
textwrap = {version = "0.16.1"}
serde_json = {workspace = true}

[features]
python = ["dep:pyo3"]

[lints]
workspace = true

[package]
edition = {workspace = true}
name = "common-display"
version = {workspace = true}
