[submodule "testing/arrow-testing"]
	path = testing/arrow-testing
	url = https://github.com/apache/arrow-testing
[submodule "testing/parquet-testing"]
	path = testing/parquet-testing
	url = https://github.com/apache/parquet-testing
