[dependencies]
async-recursion = "1.0.4"
arrow-array = {version = "54.2.1"}
comfy-table = {workspace = true}
daft-arrow = {path = "../daft-arrow"}
common-arrow-ffi = {path = "../common/arrow-ffi", default-features = false}
common-display = {path = "../common/display", default-features = false}
common-error = {path = "../common/error", default-features = false}
common-py-serde = {path = "../common/py-serde", default-features = false}
common-runtime = {path = "../common/runtime", default-features = false}
common-metrics = {path = "../common/metrics", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-dsl = {path = "../daft-dsl", default-features = false}
daft-functions-list = {path = "../daft-functions-list", default-features = false}
daft-image = {path = "../daft-image", default-features = false}
futures = {workspace = true}
hashbrown = {workspace = true}
html-escape = {workspace = true}
indexmap = {workspace = true}
num-traits = {workspace = true}
pyo3 = {workspace = true, optional = true}
rand = {workspace = true}
serde = {workspace = true}
serde_json = {workspace = true}

[features]
python = [
  "dep:pyo3",
  "common-error/python",
  "daft-core/python",
  "daft-dsl/python",
  "common-arrow-ffi/python",
  "common-display/python",
  "common-py-serde/python",
  "common-metrics/python",
  "daft-image/python",
  "daft-functions-list/python"
]

[lints]
workspace = true

[package]
edition = {workspace = true}
name = "daft-recordbatch"
version = {workspace = true}
