[dependencies]
async-recursion = "1.0.4"
async-trait = "0.1.71"
aws-config = {version = "0.55.3"}
aws-credential-types = {version = "0.55.3", features = ["hardcoded-credentials"]}
aws-sdk-s3 = "0.29.0"
aws-sig-auth = "0.55.3"
aws-sigv4 = "0.55.3"
aws-smithy-async = "0.55.3"
azure_storage = {version = "0.13.0", features = ["enable_reqwest_rustls"], default-features = false}
azure_storage_blobs = {version = "0.13.1", features = ["enable_reqwest_rustls"], default-features = false}
bytes = {workspace = true}
common-error = {path = "../common/error", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
futures = {workspace = true}
lazy_static = {workspace = true}
log = {workspace = true}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}
serde = {workspace = true}
serde_json = {workspace = true}
snafu = {workspace = true}
tokio = {workspace = true}
url = "2.4.0"

[dependencies.reqwest]
default-features = false
features = ["stream", "rustls-tls"]
version = "0.11.18"

[dev-dependencies]
md5 = "0.7.0"
tempfile = "3.7.0"

[features]
default = ["python"]
python = ["dep:pyo3", "dep:pyo3-log", "common-error/python", "daft-core/python"]

[package]
edition = {workspace = true}
name = "daft-io"
version = {workspace = true}
