[dependencies]
async-recursion = "1.0.4"
async-stream = "0.3.5"
async-trait = "0.1.79"
aws-config = {version = "0.55.3", features = ["native-tls", "rt-tokio", "client-hyper", "credentials-sso"], default-features = false}
aws-credential-types = {version = "0.55.3", features = ["hardcoded-credentials"]}
aws-sdk-s3 = {version = "0.28.0", features = ["native-tls", "rt-tokio"], default-features = false}
aws-sig-auth = "0.55.3"
aws-smithy-async = "0.55.3"
aws-smithy-client = "0.55.3"
azure_core = "0.17.0"
azure_identity = "0.17.0"
azure_storage = {version = "0.17.0", features = ["enable_reqwest"], default-features = false}
azure_storage_blobs = {version = "0.17.0", features = ["enable_reqwest"], default-features = false}
bytes = {workspace = true}
common-error = {path = "../common/error", default-features = false}
common-io-config = {path = "../common/io-config", default-features = false}
futures = {workspace = true}
globset = "0.4"
google-cloud-storage = {version = "0.15.0", default_features = false, features = ["default-tls", "auth"]}
google-cloud-token = {version = "0.1.2"}
home = "0.5.9"
hyper = "0.14.27"
hyper-tls = "0.5.0"
itertools = {workspace = true}
lazy_static = {workspace = true}
log = {workspace = true}
openssl-sys = {version = "0.9.102", features = ["vendored"]}
pyo3 = {workspace = true, optional = true}
rand = "0.8.5"
regex = {version = "1.10.4"}
snafu = {workspace = true}
tokio = {workspace = true}
tokio-stream = {workspace = true}
url = {workspace = true}

[dependencies.reqwest]
default-features = false
features = ["stream", "native-tls"]
version = "0.11.18"

[dev-dependencies]
md5 = "0.7.0"
tempfile = "3.8.1"

[features]
python = ["dep:pyo3", "common-error/python", "common-io-config/python"]

[package]
edition = {workspace = true}
name = "daft-io"
version = {workspace = true}

[package.metadata.cargo-machete]
ignored = ["openssl_sys"]
