[dependencies]
async-recursion = "1.0.4"
async-stream = "0.3.5"
async-trait = "0.1.74"
aws-config = {version = "0.100.0", features = ["rt-tokio", "client-hyper", "credentials-process", "sso"], default-features = false}
aws-credential-types = {version = "0.58.0", features = ["hardcoded-credentials"]}
aws-sdk-s3 = {version = "0.36.0", features = ["rt-tokio"], default-features = false}
aws-sig-auth = "0.58.0"
aws-sigv4 = "0.58.0"
aws-smithy-async = "0.100.0"
aws-smithy-client = "0.58.0"
azure_storage = {version = "0.13.0", features = ["enable_reqwest"], default-features = false}
azure_storage_blobs = {version = "0.13.1", features = ["enable_reqwest"], default-features = false}
bytes = {workspace = true}
common-error = {path = "../common/error", default-features = false}
common-io-config = {path = "../common/io-config", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
futures = {workspace = true}
globset = "0.4"
google-cloud-storage = {version = "0.14.0", default-features = false, features = ["default-tls", "auth"]}
hyper = "0.14.27"
hyper-tls = "0.5.0"
itertools = {workspace = true}
lazy_static = {workspace = true}
log = {workspace = true}
openssl-sys = {version = "0.9.93", features = ["vendored"]}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}
regex = {version = "1.9.5"}
serde = {workspace = true}
serde_json = {workspace = true}
snafu = {workspace = true}
tokio = {workspace = true}
tokio-stream = {workspace = true}
url = {workspace = true}

[dependencies.reqwest]
default-features = false
features = ["stream", "native-tls"]
version = "0.11.18"

[dev-dependencies]
md5 = "0.7.0"
tempfile = "3.8.1"

[features]
default = ["python"]
python = ["dep:pyo3", "dep:pyo3-log", "common-error/python", "daft-core/python", "common-io-config/python"]

[package]
edition = {workspace = true}
name = "daft-io"
version = {workspace = true}
