[dependencies]
bincode = {workspace = true}
common-error = {path = "../common/error", default-features = false}
common-io-config = {path = "../common/io-config", default-features = false}
common-treenode = {path = "../common/treenode", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-io = {path = "../daft-io", default-features = false}
daft-sketch = {path = "../daft-sketch", default-features = false}
erased-serde = "0.4.5"
indexmap = {workspace = true}
itertools = {workspace = true}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}
serde = {workspace = true}
serde_json = {workspace = true}
lazy_static = {workspace = true}

[features]
default = ["python"]
python = ["dep:pyo3", "dep:pyo3-log", "common-error/python", "daft-core/python", "daft-io/python", "common-io-config/python", "common-treenode/python"]

[package]
edition = {workspace = true}
name = "daft-dsl"
version = {workspace = true}
