[dependencies]
async-trait = {workspace = true}
common-runtime = {path = "../common/runtime", default-features = false}
common-error = {path = "../common/error", default-features = false}
common-hashable-float-wrapper = {path = "../common/hashable-float-wrapper"}
common-macros = {path = "../common/macros"}
common-py-serde = {path = "../common/py-serde", default-features = false}
common-resource-request = {path = "../common/resource-request", default-features = false}
common-treenode = {path = "../common/treenode", default-features = false}
common-metrics = {path = "../common/metrics", default-features = false}
common-tracing = {path = "../common/tracing", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-sketch = {path = "../daft-sketch", default-features = false}
derive_more = {workspace = true}
indexmap = {workspace = true}
itertools = {workspace = true}
log = {workspace = true}
pyo3 = {workspace = true, optional = true}
serde = {workspace = true}
tokio = {workspace = true, optional = true}
typetag = {workspace = true}
opentelemetry = {workspace = true}

[dev-dependencies]
rstest = {workspace = true}
opentelemetry_sdk = {workspace = true, features = ["testing"]}

[features]
python = [
  "dep:pyo3",
  "dep:tokio",
  "common-error/python",
  "common-runtime/python",
  "daft-core/python",
  "common-treenode/python",
  "common-py-serde/python",
  "common-resource-request/python",
  "common-metrics/python"
]
test-utils = []

[lints]
workspace = true

[package]
edition = {workspace = true}
name = "daft-dsl"
version = {workspace = true}
