[dependencies]
arrow2 = {workspace = true, features = ["io_json"]}
async-compat = {workspace = true}
async-compression = {workspace = true}
async-stream = {workspace = true}
bincode = {workspace = true}
bytes = {workspace = true}
chrono = {workspace = true}
chrono-tz = {workspace = true}
common-error = {path = "../common/error", default-features = false}
daft-compression = {path = "../daft-compression", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-decoding = {path = "../daft-decoding"}
daft-dsl = {path = "../daft-dsl", default-features = false}
daft-io = {path = "../daft-io", default-features = false}
daft-table = {path = "../daft-table", default-features = false}
futures = {workspace = true}
indexmap = {workspace = true}
lexical-core = {version = "0.8"}
log = {workspace = true}
memchr = "2.7.2"
memmap2 = "0.9.4"
num-traits = {workspace = true}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true, optional = true}
rayon = {workspace = true}
serde = {workspace = true}
serde_json = { workspace = true, features = ["raw_value"] }
simd-json = {version = "0.13", features = ["known-key"]}
simdutf8 = "0.1.3"
snafu = {workspace = true}
tokio = {workspace = true}
tokio-stream = {workspace = true, features = ["io-util"]}
tokio-util = {workspace = true}
url = {workspace = true}

[dev-dependencies]
rstest = {workspace = true}

[features]
default = ["python"]
python = [
  "dep:pyo3",
  "dep:pyo3-log",
  "common-error/python",
  "daft-core/python",
  "daft-io/python",
  "daft-table/python",
  "daft-dsl/python"
]

[package]
edition = {workspace = true}
name = "daft-json"
version = {workspace = true}
