kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: kindest/node:v1.22.9@sha256:7212ebdaf170dbf1907e6c2ae76b24d3cf4bd26155e9aa6b10347a00c0e1a4e8
  extraMounts:
  - hostPath: ${PWD}/data
    containerPath: /data
  extraPortMappings:
  - containerPort: 30001
    hostPort: ${NOTEBOOK_HOST_PORT}
