[dependencies]
common-daft-config = {path = "../common/daft-config", default-features = false}
common-error = {path = "../common/error", default-features = false}
daft-py-runners = {workspace = true}
log = {workspace = true}
pyo3 = {workspace = true, optional = true}

[features]
python = [
  "dep:pyo3",
  "common-daft-config/python",
  "common-error/python",
  "daft-py-runners/python"
]

[lints]
workspace = true

[package]
name = "daft-context"
edition.workspace = true
version.workspace = true
