[dependencies]
common-error = {path = "../common/error", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-dsl = {path = "../daft-dsl", default-features = false}
daft-table = {path = "../daft-table", default-features = false}
indexmap = {workspace = true, features = ["serde"]}
serde = {workspace = true}
snafu = {workspace = true}

[features]
python = ["common-error/python", "daft-core/python", "daft-dsl/python", "daft-table/python"]

[package]
edition = {workspace = true}
name = "daft-stats"
version = {workspace = true}
