[dependencies]
arrow2 = {workspace = true, features = ["chrono-tz", "compute_take", "compute_cast", "compute_aggregate", "compute_if_then_else", "compute_sort", "compute_filter", "compute_temporal", "compute_comparison", "compute_arithmetics", "compute_concatenate", "compute_contains", "io_ipc"]}
base64 = "0.21.2"
bincode = {workspace = true}
chrono = "0.4.26"
chrono-tz = "0.8.3"
common-error = {path = "../common/error", default-features = false}
dyn-clone = "1.0.12"
fnv = "1.0.7"
html-escape = {workspace = true}
lazy_static = {workspace = true}
log = {workspace = true}
ndarray = "0.15.6"
num-derive = {workspace = true}
num-traits = {workspace = true}
prettytable-rs = {workspace = true}
pyo3 = {workspace = true, optional = true}
pyo3-log = {workspace = true}
rand = {workspace = true}
serde = {workspace = true}
serde_json = {workspace = true}

[dependencies.image]
default-features = false
features = ["gif", "jpeg", "ico", "png", "tiff", "webp", "bmp", "hdr"]
version = "0.24.6"

[dependencies.indexmap]
features = ["serde"]
version = "1.9.2"

[dependencies.numpy]
optional = true
version = "0.19"

[dependencies.xxhash-rust]
features = ["xxh3", "const_xxh3"]
version = "0.8.5"

[features]
default = ["python"]
python = ["dep:pyo3", "dep:numpy", "common-error/python"]

[package]
edition = {workspace = true}
name = "daft-core"
version = {workspace = true}
