[dependencies]
aho-corasick = "1.1.3"
arrow2 = {workspace = true, features = [
  "chrono-tz",
  "compute_take",
  "compute_cast",
  "compute_aggregate",
  "compute_if_then_else",
  "compute_sort",
  "compute_filter",
  "compute_temporal",
  "compute_comparison",
  "compute_arithmetics",
  "compute_concatenate",
  "compute_substring",
  "io_ipc"
]}
base64 = "0.22.0"
bincode = {workspace = true}
chrono = {workspace = true}
chrono-tz = {workspace = true}
comfy-table = {workspace = true}
common-daft-config = {path = "../common/daft-config", default-features = false}
common-error = {path = "../common/error", default-features = false}
daft-minhash = {path = "../daft-minhash", default-features = false}
daft-sketch = {path = "../daft-sketch", default-features = false}
fastrand = "2.1.0"
fnv = "1.0.7"
html-escape = {workspace = true}
indexmap = {workspace = true, features = ["serde"]}
itertools = {workspace = true}
jaq-core = {workspace = true}
jaq-interpret = {workspace = true}
jaq-parse = {workspace = true}
jaq-std = {workspace = true}
lazy_static = {workspace = true}
log = {workspace = true}
mur3 = "0.1.0"
ndarray = "0.15.6"
num-derive = {workspace = true}
num-traits = {workspace = true}
pyo3 = {workspace = true, optional = true}
regex = {workspace = true}
serde = {workspace = true}
serde_json = {workspace = true}
sketches-ddsketch = {workspace = true}
unicode-normalization = "0.1.23"

[dependencies.image]
default-features = false
features = ["gif", "jpeg", "ico", "png", "tiff", "webp", "bmp", "hdr"]
version = "0.24.7"

[dependencies.numpy]
optional = true
version = "0.19"

[dependencies.xxhash-rust]
features = ["xxh3", "const_xxh3"]
version = "0.8.5"

[features]
python = ["dep:pyo3", "dep:numpy", "common-error/python"]

[package]
edition = {workspace = true}
name = "daft-core"
version = {workspace = true}
