[dependencies]
common-error = {path = "../common/error"}
daft-ai = {path = "../daft-ai"}
daft-catalog = {path = "../daft-catalog"}
daft-core = {path = "../daft-core", default-features = false}
daft-dsl = {path = "../daft-dsl"}
daft-logical-plan = {path = "../daft-logical-plan"}
pyo3 = {workspace = true, optional = true}
indexmap = {workspace = true}
common-py-serde = {path = "../common/py-serde", default-features = false}
uuid.workspace = true

[features]
python = [
  "dep:pyo3",
  "daft-ai/python",
  "daft-catalog/python",
  "daft-core/python",
  "daft-logical-plan/python",
  "common-py-serde/python"
]

[lints]
workspace = true

[package]
name = "daft-session"
edition.workspace = true
version.workspace = true
