# daft.functions
Built-in Daft Functions

{% for cat in categories %}
## {{ cat.title }}

{{ cat.description }}

<table>
  {%- for fn in cat.functions %}
  <tr>
    <td><a href="{{ fn.name }}/">{{ fn.name }}</a>({{ fn.signature }})</td>
    <td>{{ fn.description }}</td>
  </tr>
  {%- endfor %}
</table>

{% endfor %}
