[dependencies]
common-error = {path = "../common/error", default-features = false}
common-resource-request = {path = "../common/resource-request", default-features = false}
daft-core = {path = "../daft-core", default-features = false}
daft-dsl = {path = "../daft-dsl", default-features = false}
daft-plan = {path = "../daft-plan", default-features = false}
daft-scan = {path = "../daft-scan", default-features = false}
log = {workspace = true}
strum = {version = "0.26", features = ["derive"]}

[features]
python = ["common-error/python", "common-resource-request/python", "daft-core/python", "daft-dsl/python", "daft-plan/python", "daft-scan/python"]

[lints]
workspace = true

[package]
edition = {workspace = true}
name = "daft-physical-plan"
version = {workspace = true}
