@keyframes terminal-text {
    0% {
        --text: "{";
    }
    16.6% {
        --text: ">#";
    }
    33.2% {
        --text: "d[:";
    }
    49.8% {
        --text: "da=/";
    }
    66.4% {
        --text: 'daf"';
    }
    83% {
        --text: "daft";
    }
    100% {
        --text: "daft";
    }
}

.terminal-text {
    animation: terminal-text 0.3s steps(1) forwards;
}

.terminal-text::before {
    content: var(--text, "{");
}