# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Check Broken Links on getdaft.io

on:
  schedule:
  - cron: 0 20 * * *
  workflow_dispatch:

jobs:
  check-links:
    timeout-minutes: 45
    runs-on: ubuntu-latest
    steps:
    - name: setup broken link checker
      run: npm install -g broken-link-checker
    - name: Check getdaft.io
      uses: nick-fields/retry@v3
      with:
        timeout_minutes: 10
        retry_wait_seconds: 60
        max_attempts: 3
        retry_on: error
        command: blc https://www.getdaft.io -ro --exclude www.pytorch.org/ --exclude https://github.com/Eventual-Inc/Daft/ --exclude https://twitter.com/daft_dataframe --exclude https://www.linkedin.com/company/eventualcomputing/
    - name: Send Slack notification on failure
      uses: slackapi/slack-github-action@v1.26.0
      if: failure()
      with:
        payload: |
          {
            "blocks": [
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": ":rotating_light: [NIGHTLY] Broken Link Checker <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|workflow> *FAILED* :rotating_light:"
                }
              }
            ]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
