# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Check Broken Links on getdaft.io

on:
  schedule:
  - cron: 0 3 * * *
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
    - name: setup broken link checker
      run: npm install -g broken-link-checker
    - name: Check getdaft.io
      run: blc https://getdaft.io -ro --exclude www.pytorch.org/ --exclude https://github.com/Eventual-Inc/Daft/
