# This workflow will build the Daft docs.
# Documentation previews are handled by Read the Docs integration.

name: Build docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  docgen:
    runs-on: ubuntu-latest
    env:
      python-version: '3.10'
    steps:
    - name: Free Disk Space
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: false
        docker-images: true
        swap-storage: true
    - name: Additional disk cleanup
      run: |
        sudo rm -rf /usr/share/swift || true
        sudo rm -rf /opt/hostedtoolcache/CodeQL || true
        sudo rm -rf /opt/hostedtoolcache/go || true
        sudo rm -rf /opt/hostedtoolcache/Ruby || true
        sudo rm -rf /opt/hostedtoolcache/node || true
    - uses: actions/checkout@v6
    - uses: moonrepo/setup-rust@v1
      with:
        cache: false
    - uses: Swatinem/rust-cache@v2
      with:
        key: ${{ runner.os }}-build
        cache-all-crates: 'true'
    - name: Setup Python and uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ env.python-version }}
        enable-cache: true
        cache-dependency-glob: "**/pyproject.toml"
    - name: Setup Virtual Env
      run: |
        uv venv --seed .venv
        echo "$GITHUB_WORKSPACE/.venv/bin" >> $GITHUB_PATH
    - name: Install dependencies
      uses: nick-fields/retry@v3
      with:
        timeout_minutes: 10
        max_attempts: 3
        retry_wait_seconds: 10
        command: |
          source activate
          uv sync --no-install-project --all-extras --all-groups
          uv pip install -e docs/plugins/nav_hide_children
    - name: Build Daft in development mode and generate docs
      run: |
        source activate
        maturin develop --uv
        mkdocs build
    - name: Upload built docs
      uses: actions/upload-artifact@v6
      with:
        name: html-docs
        path: site
