name: Enforce Pull Request Labels
on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - name: Sleep for 1 minute
      run: sleep 60s
      shell: bash
    - uses: mheap/github-action-required-labels@v5
      with:
        mode: minimum
        count: 1
        labels: performance, enhancement, bug, chore, documentation, dependencies
        add_comment: true
        message: |
          This PR is being prevented from merging because you need at least one of the required labels:

          ```
          enhancement | performance | bug | chore | documentation | dependencies
          ```

          The canonical and easiest way of adding them is to add the following prefixes to your PR title:

          * [FEAT]: adds the `enhancement` label
          * [PERF]: adds the `performance` label
          * [BUG]: adds the `bug` label
          * [CHORE]: adds the `chore` label
          * [DOCS]: adds the `documentation` label

          Thanks for helping us categorize and manage our PRs!
