name: Publish Daft Quickstart Helm Chart

on:
  push:
    branches:
    - main
    paths:
    - '.github/workflows/publish-daft-quickstart-chart.yml'
    - 'k8s/charts/quickstart/**'
  workflow_dispatch:

jobs:
  publish-daft-quickstart-chart:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
      packages: write
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Install Helm
      uses: azure/setup-helm@v4
      with:
        version: 'latest'
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Production Helm Chart
      run: |
        version="$(grep '^version:' k8s/charts/quickstart/Chart.yaml | sed 's/version: //')"
        helm package k8s/charts/quickstart --version ${version}
        helm push quickstart-${version}.tgz oci://ghcr.io/eventual-inc/daft
