# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: daft

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v3
      id: poetry-cache
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-python-${{ steps.setup-python.outputs.python-version }}-poetry-${{ hashFiles('poetry.lock') }}
    - name: Install dependencies
      run: |
        # Install Poetry and deps
        python -m pip install poetry
        poetry install
    - name: Build Extensions Locally
      run: |
        poetry run build_inplace
    - name: Clone TPCH SQlite repository
      uses: actions/checkout@v2
      with:
        repository: lovasoa/TPCH-sqlite
        path: data/tpch-sqlite
        submodules: recursive
    - name: Build TPCH data
      working-directory: data/tpch-sqlite
      run: SCALE_FACTOR=0.2 make
    - name: Test with pytest
      run: poetry run pytest
      strategy:
        matrix:
          DAFT_RUNNER: ['py', 'ray']
      env:
          DAFT_RUNNER: ${{secrets[matrix.DAFT_RUNNER]}}

    - uses: actions/cache@v3
      id: pre-commit-cache
      with:
        path: ~/.cache/pre-commit/
        key: ${{ runner.os }}-python-${{ steps.setup-python.outputs.python-version }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Python Style Check
      run: |
        poetry run pre-commit run --all-files
